@media all and (max-width:380px){b}h5.Kenspage{position:relative;font-size:3vh;margin:auto 2.5vw;text-align:left}h2.label{position:relative;font-size:3vh;line-height:4vh;margin:0;padding:0}div.lead.container{position:relative;padding:0;margin:0;z-index:-2}div.privacy{position:absolute;top:150vh}footer#contact1{position:relative;top:20vh}div#contact2{position:relative;display:none}small.contact{position:relative;display:block;margin-top:-50%;z-index:0}body#privacy{color:#fff}section.row-alt{z-index:-2}div#back{position:relative;z-index:-2}u{color:#fff}span{color:#fff}li{color:#fff}div#outputPage{z-index:-2}span#policy.content{z-index:-2}p.privacy{color:#847983}div.text1,div.text2,div.text3,div.text4,p.text1,p.text2,p.text3,p.text4{color:#82aeb1;position:relative;margin:auto 2.5%}button#navbar-toggle.schedule{position:relative;left:99%;margin-top:-10%}img#profile.profilepic{position:relative;min-width:none;width:80%;max-width:100%;max-height:100%;margin-left:10%;border:5px solid #df8642;z-index:-2}a.linkedin,a.profile-link,a.project-tile{position:relative;text-decoration:underline}a.project-tile::on-hover a.project-tile::on-click a.profile-link::on-hover a.profile-link::on-click a.linkedin::on-hover a.linkedin::on-click{color:#df8642}ody{max-width:100%}.row{max-width:100%}.grid{display:grid;display:-ms-grid;grid-template-columns:1fr;-ms-grid-columns:1fr;max-width:100%}.col-1-3{min-width:-moz-fit-content;min-width:fit-content;min-width:-webkit-fill-available;min-width:fit-content;max-width:95vw;max-height:-moz-fit-content;max-height:fit-content}.col-2-3{max-width:95vw}section.hero-container{position:relative}.container,.group,header.primary-header{padding-bottom:0;margin-bottom:0;max-width:100%;margin:0}a.logo img.logo{position:absolute;max-width:25%;z-index:-1;top:1vh}a.thanks{display:none}img#about2.logo a#about3.logo{top:1vh}div.thanks-logo{position:relative;display:inline-block}img.thanks{position:relative;width:80%;margin-left:6%;border:5px solid #df8642;z-index:-2}h1.thanks{position:relative;text-align:center;color:#82aeb1;font-size:5.75vh;font-family:'Optima Bold',Arial,Helvetica,sans-serif}p.thanks{position:relative;color:#eca925;font-family:Optima,Arial,Helvetica,sans-serif;font-style:italic;margin:auto 2.5%}h3.thanks{position:relative;margin:0 2.5%}div.#portfolio2.logo{position:relative;display:grid}a#portfolio5.logo img#portfolio4.logo{position:relative;margin-top:-20vh;max-width:65%}a#info2.logo img#info3.logo{position:relative;top:-21.5vh}body#privacy{position:relative}section.col-1-3,section.teaser{margin:0;padding:0}a#tagline.tagline,h2.tagline{display:none;visibility:hidden}a.btn-alt{position:relative;top:-30vh}a.payment{position:relative;display:block;margin:0;top:-10vh;line-height:5vh;border:2px solid #df8642;box-shadow:1px 1px #82aeb1}#coupon{font-size:2.5vh;line-height:3.5vh}}h3.stats{font-size:5vh;line-height:5.5vh}img.sabrespritereg{height:6vh;width:10vw}img.frontpgimg{position:relative;min-width:auto;min-width:-moz-fit-content;max-width:40vw;max-height:auto;max-height:-moz-fit-content;margin-left:auto;margin-right:auto;background-color:#82aeb1;border:2px solid #fff;top:-25}.primary-header a:hover{display:none}h1#index{position:absolute;margin-top:8.5vh;font-size:3vh;text-align:right;color:#df8642}h1#schedule{position:absolute;margin-top:9vh;margin-right:1.5vw}h1#about1.logo{position:absolute;top:0;right:2vw;margin-top:20%;color:#df8642;font-weight:700}h1#info.logo{position:absolute;margin-top:10.5vh;margin-right:2.5vw}h1#portfolio.logo{position:absolute;display:inline;visibility:visible;margin-top:-6vh;width:60vw;right:1.5vw}h1#privacy2.logo{position:relative;top:-16vh;font-weight:400;margin-right:1.5vw}div.logo{position:relative;background-color:#042d4d;top:5vh;padding-bottom:10vh;z-index:-2}div.text{font-family:Arapey,'Times New Roman',Times,serif;font-style:italic;color:#82aeb1}div#portfolio2{position:relative;display:inline;margin-top:-5vh;z-index:-1}img#portfolio3{position:relative;top:-12.5vh}h1.logo{font-size:2vh;position:absolute;text-align:right;margin-left:32.5%;padding:0;margin-top:0;line-height:3vh;display:inline-block;z-index:-1;color:#df8642}h1#contact3.logo{position:relative;margin-right:1.5vw;z-index:-1;top:-16vh}div.slideshow-container{position:relative;z-index:-2}div.slideshow-container1{position:relative;z-index:-1;background-color:#82aeb1}div.dots{text-align:center;display:none}div.text{position:relative;color:#82aeb1}div.text1{position:relative;color:#847983;font-family:Arapey,'Times New Roman',serif;font-style:italic}h3.click{position:relative;font-family:Arapey,'Times New Roman',Times,serif;text-align:center;font-size:2.25vh;color:#df8642;text-shadow:1px 1px 1px #847983}.heroimg{position:relative;max-width:90%;top:-5vh}.caption1{font-size:3.3333333333333335vw;text-decoration:underline}.caption2{position:relative}p.caption3{color:#82aeb1;font-size:3.3333333333333335vw;position:relative;display:block;font-size:2vh;line-height:3vh;top:7.5vh;margin:auto 3.5vw}h3.caption2{text-decoration:underline;font-weight:700;font-size:3.3333333333333335vw}h2.hook{margin:12.5% 3%;line-height:3.5vh;position:relative;top:-6vh;z-index:-2;color:#82aeb1}.iframe-container{position:relative;top:-17.5vh;margin:0;z-index:-2}iframe.frontend{max-width:80%;max-height:70%}img.venngage{position:relative;max-width:100%;max-height:100%;top:-20.5vh}h5.caption1{position:relative;color:#847983;top:vh}h3.caption2{position:relative;top:-30vh;color:#df8642;text-align:center}img.con h2.caption4{margin:5vh auto;position:relative;margin:0;padding:0;top:-15vh}.btn-alt{position:relative;border:.06944444444444445vw solid #eca925;padding:1.394700139470014vh 5.0833333333333335vw;margin:0 29vw;top:-10vh}article.description,article.description1{position:relative;display:inline;line-height:2.5vh;font-size:2vh;margin:0;padding:0;margin-left:3.5vw;text-align:center;z-index:-2}.primary-footer{display:block;position:relative;font-size:1.25vh;top:-5vh;margin:auto 2.5%}p#about{top:1.5vh}p.privacy{position:relative;display:inline-block;top:-5vh;visibility:visible}p#privacy{position:relative;display:inline-block;top:-60%}p.aboutarticle{position:relative;font-family:Optima,Arial,Helvetica,sans-serif;font-style:normal;font-size:1.75vh;line-height:2.9vh;text-align:left;color:#847983}h2.About{position:relative;font-size:3vh;color:#df8642}img#sabresmile{position:relative;margin:auto;top:0;max-width:60%;margin-top:-20%;border:5px solid #df8642}p.quote{position:relative;display:block;font-family:'Optima Bold',Arial,Helvetica,sans-serif;line-height:3vh;max-width:80%;margin:auto}p.leadin{position:relative;font-family:'Optima Italic',Arial,Helvetica,sans-serif;color:#847983}iframe#bookings2{display:block!important;position:relative;margin:auto;width:95%;height:2525px;z-index:-2}section.row-alt{position:relative;min-height:fit-content;min-height:-moz-fit-content;height:auto;max-height:min-content;padding:0;background-color:#042d4d;background-size:100%}iframe#JotFormIFrame-240474876852165{position:relative;display:block;opacity:.7;top:-2.5%;width:350px;max-height:91%;left:-21vw;z-index:-2}h1.lead{position:relative;margin:0;padding:0;top:-2.5vh}p.portfolio{position:relative;margin-left:2.5vw;top:-2.5vh}h2.contact,h2.contactform{font-size:8vw;color:#847983;text-align:center;margin-left:10%;font-style:bold}iframe.contactform{position:relative;display:block;top:-15vh;margin:0;padding:0;max-width:90%;max-height:fit-content;max-height:-moz-fit-content;z-index:-1}header#navbar{position:relative;z-index:0}nav.navbar-container .container{position:relative;z-index:0}nav.contact{position:relative;top:-.5vh}p.contact{font-size:4.5vw;line-height:5.5vh}a.about{margin-top:2vh}h2.lead{position:relative;margin:0 1vw;font-size:4.5vh;text-align:center;margin-top:25vh;margin-bottom:2.5vh;color:#df8642;z-index:-2}p.portfolio{position:relative;font-size:2.5vh;line-height:3.5vh;text-align:left;font-family:Arapey,'Times New Roman',Times,serif;z-index:-2}section#Kens.row{position:relative;margin:0;padding:0;top:-20vh;z-index:-2;color:#042d4d}h2#Kensname.Kenspage{position:relative;font-size:3vh;line-height:4vh;margin:0;padding:0;margin-top:25vh}img.socialmedia{position:relative;display:flex;width:40%;margin:auto;}iframe.facebook{position: relative;margin-bottom:5%;padding-bottom: 2%;}
    

@media all and (min-width: 381px) and (max-width: 480px) {
    body {
        max-width: 100%;
    }
    .row {
        max-width: 100%;
    }
    .grid {
        display: grid;
        display: -ms-grid;
        grid-template-columns: 1fr;
        -ms-grid-columns: 1fr;
        max-width: 100%;
    }
    .col-1-3 {
        
        min-width: -moz-fit-content; 
        min-width: fit-content;
        min-width: -webkit-fill-available;
        min-width: fit-content;
        max-width: 95vw;
        max-height: -moz-fit-content;
        max-height:fit-content;
        
    }
    .col-2-3 {
        max-width: 95vw;
    }
    section.hero-container {
        position: relative;
    }
    header.primary-header, .container, .group {
        padding-bottom: 0;
        margin-bottom: 0;
        max-width: 100%;
        margin: 0;
    }
    iframe#bookings2 {
        display: block !important;
        position: relative;
        margin: auto;
        width: 95%;
        height: 2525px;
        
        z-index:-2;
    }
   a.logo img.logo {
        position: absolute;
        max-width: 25%;
        z-index: -1;
        top: 0vh;
    }
    img#portfolio4 {
        position: relative;
        top: 0;
        margin-top: -99%;
        left: 0;
        max-width: 75%;
    }
    img#about2.logo a#about3.logo {
        top: 1vh;
    }
    section.teaser, section.col-1-3 {
        margin: 0;
        padding: 0;
    }
   
    a#tagline.tagline, h2.tagline{
        display: none;
        visibility: hidden;

    }
    iframe#JotFormIFrame-240474876852165 {
        position: relative;
        display: block;
        opacity: 0.7;
        top:-2.5%;
        width: 100vw;
        left: -25vw;

    }
    img.thanks {
        position: relative;
        height: 50%;
        margin-left: 6%;
        border: 5px solid #df8642;
        z-index: -2;
    }
    h1.thanks {
        position: relative;
        top: -250%;
        text-align: center;
        color:#82aeb1;
        font-size: 5.75vh;
        font-family: 'Optima Bold', Arial, Helvetica, sans-serif;

    }
    p.thanks {
        position: relative;
        top: -250%;
        color:#eca925;
        font-family: 'Optima', Arial, Helvetica, sans-serif;
        font-style: italic;
        margin: auto 2.5%;
    }
    h3.thanks {
        position: relative;
        top: -480%;
        margin: 0 2.5%;
        
    }
    a.btn-alt {
        position: relative;
        top:-30vh;
    }
    a.payment {
        position: relative;    margin: 0;
        top: -10%;
        line-height: 5vh;
        
    }
    #coupon {
        font-size: 2.5vh;
        line-height: 3.5vh;
    }
    div.row {
        position: relative;
        top: -20vh;
    }
    h3.stats {
        font-size: 5vh;
        line-height: 5.5vh;
    }
    i.statcaption {
        top: -5vh;
    }
    img.sabrespritereg {
        height: 6vh;
        width: 10vw;
    }
    
    img.frontpgimg {
        position: relative;
        min-width: auto;
        max-width: 40%;
        max-height: 10%;
        margin-left: auto;
        margin-right: auto;
        background-color: #82aeb1;
        border: 2px solid #fff;
        margin-top: 
    }

    img#profile.profilepic {
        position: relative;
        min-width: none;
        width: 80%;
        max-width: 100%;
        max-height: 100%;
        margin-left: 10%;
        border: 5px solid #df8642;
        z-index: -2;
        
    }
    .primary-header a:hover {
        display: none;
    }
    h1#index {
        position: absolute;
        margin-top: 8.5vh;
        font-size: 2.5vh;
        text-align: right;
        margin-right: 4%;
        width: 60%;
    }
    h1#schedule {
        position: absolute;
        margin-top: 16%;
        margin-right: 4.5%;
    }
    h1#about1.logo {
        position: absolute;
        top: 0;
        margin-top: 17.5%;
        right: 2.5%;
    }
    body.about {
        background-color: #042d4d;
    }
    h1#info.logo {
        position: absolute;
        top: -2.5%;
        right: 0;
    }
    h1#portfolio {
        position: relative;
        margin-top: -25vh;
        display: inline;

    }
    div.logo {
        position: relative;
        background-color: #042d4d;
        top:5vh;
        padding-bottom: 10vh;
        z-index: -2;
        
    }
    div.text {
        font-family: 'Arapey', 'Times New Roman', Times, serif;
        font-style: italic;
    }
    div#portfolio2 {
        position: relative;
        display: inline;
        margin-top: -5vh;
        z-index: -1;
    }
    img#portfolio3 {
        position: relative;
        top: -12.5vh;
    }
    
    
   h1.logo {
        font-size: 2vh;
        position: absolute;
        text-align: right;
        right: 0;
        padding: 0;
        margin-top: 0;
        line-height: 3vh;
        display: inline-block;
        z-index: -1;
        color: #df8642;
    
       
    }
    h1#contact3 {
        position: relative;
        margin-right: 1.5vw;
        z-index: -1;
    }
   
    div.slideshow-container {
        position: relative;
        z-index:-2;
        width: 90%;
    }

    div.slideshow-container1 {
        position: relative;
        z-index: -1;
    }
    div.dots {
        text-align: center;
        display: none;
    }
    div.text {
        position: relative;
        color: #82aeb1;
    }
    div.text1 {
        position: relative;
        color: #82aeb1;
        font-family: 'Arapey', 'Times New Roman', serif;
        font-style: italic;
    }
    h3.click {
        position: relative;
        font-family: 'Optima Bold', Arial, Helvetica, sans-serif;
        text-align: center;
        color:#df8642;
        margin: auto 3%;
    }
    .heroimg {
        position: relative;
        max-width: 90%;
        top: -5vh;
    }
    
    .caption1 {
        font-size: 3.3333333333333335vw;
        text-decoration: underline;
   
    }
    .caption2 {
        position: relative;
    }
    p.caption3 {
        color: #82aeb1;
        font-size: 3.3333333333333335vw;
        position: relative;
        font-size: 2vh;
        line-height: 3vh;
        top: -5%;
    }
    
    h3.caption2 {
        text-decoration: underline;
        font-weight: bold;
        font-size: 3.3333333333333335vw;
    }
    h2.hook {
        margin: 5vh auto;
        position: relative;
        top: 9vh;
        z-index: -2;
        color: #82aeb1;
        
    }
    .iframe-container {
        position: relative;
        top:-2.5vh;
        margin: 0;
        z-index: -2;
        
    }
    iframe.frontend {
        max-width: 80%;
        max-height: 70%;
    }
   
    img.venngage {
        position: relative;
        max-width: 100%;
        max-height: 100%;
        top:-10vh;
    }
    h5.caption1 {
        position: relative;
        color:#82aeb1;
        top: vh;
    }
    h3.caption2 {
        position: relative;
        margin-top:;
        color: #df8642;
        text-align: center;
    }
   
    h2.caption4 {
        margin: 5vh auto;
        position: relative;
        margin: 0;
        padding: 0;
        top: -15vh;
    }
    a.btn.btn-alt {
        position: relative;
        margin-top: 5%;
    }
    .btn-alt {
        position: relative;
        border: 0.06944444444444445vw solid #eca925;
        padding: 1.394700139470014vh 5.0833333333333335vw;
        margin: 0 29vw;
    
        
    }
   
    article.description1, article.description {
        position: relative;
        display: inline;
        line-height: 2.5vh;
        font-size: 2vh;
        margin: 0;
        padding: 0;
        margin-left: 3.5vw;
        text-align: center;
        z-index: -2;
        
        
    }
    .primary-footer {
        display: block;
        position: relative;
        font-size: 1.25vh;
        top: -5vh;
    

    }
    p#about {
        top: 1.5vh;
    }
    p.privacy {
        position: relative;
        top:-5vh;
    }
    
    .aboutarticle {
        position: relative;
        top: -5vh;
        font-size: 2.5vh;
        line-height: 4vh;
    }
    h2.About {
        position: relative;
        margin-top: 3%;
        font-size: 3vh;
    }
    #sabresmile, #dogs, img#profile-img {
        position: relative;
        margin: auto;
        max-width: 80%;
        margin-top: 3vh;
    }
    p.quote {
        position: relative;
        line-height: 3vh;
        max-width: 80%;
        margin: auto;
    }
    iframe.bookings {
        display: initial !important;
        position: relative;
        margin: auto;
        width: max-content;
        width: 100%;
        min-width: max-content;
        max-height: 90%;
        height: 2900px;
        margin-top: 35%; 
        left: -2vw;
        
        z-index:-2;
    }
    section.row-alt {
        position: relative;
        min-height:fit-content;
        min-height: -moz-fit-content;
        height: auto;
        max-height:min-content;
        padding: 0;
    }
    h1.lead {
        position: relative;
        margin: 0;
        padding: 0;
        top: -2.5vh;
    }
    p.portfolio {
        position: relative;
        margin-left: 2.5vw;
        top: -2.5vh;
    }
    h2.contact, h2.contactform {
        font-size: 8vw;
        color:#021b2d;
        text-align: center;
        margin-left: 10%;
        font-style: bold;
    }
    iframe.contactform {
        position: relative;
        margin: 0;
        padding: 0;
        max-width: 90%;
        max-height: fit-content;
        max-height: -moz-fit-content;
        
        z-index: -1;
    }
    header#navbar {
        position: relative;
        z-index: 0;
    }
    nav.navbar-container .container {
        position: relative;
        z-index: 0;
    }
    nav.contact {
        position: relative;
        top: -.5vh;
    }
    p.contact {
        font-size: 4.5vw;
        line-height: 5.5vh;
    }
    a.about {
        margin-top: 2vh;
    }
    h2.lead {
        position: relative;
        margin: 0 1vw;
        font-size: 4.5vh;
        text-align: center;
        margin-top: 25vh;
        margin-bottom: 2.5vh;
        color:#82aeb1;
        z-index: -2;
        
    }
    p.portfolio {
        position: relative;
        font-size: 2vh;
        line-height: 3.5vh;
        text-align: left;
        font-family: 'Optima', Arial, Helvetica, sans-serif;
        z-index: -2;
        
    }
    section#Kens.row {
        position: relative;
        margin: 0;
        padding: 0;
        top: -20vh;
        z-index: -2;
    }
    h2#Kensname.Kenspage {
        position: relative;
        font-size: 3vh;
        line-height: 4vh;
        margin: 0;
        padding: 0;
        margin-top: 25vh;
    }
    h5.Kenspage {
        position: relative;
        font-size: 3vh;
        margin: auto 2.5vw;
        text-align: left;
    }
    p.Kenspage {
        font-size: 2.5vh;
    }
    h2.label {
        position: relative;
        font-size: 3vh;
        line-height: 4vh;
        margin: 0;
        padding: 0;
    }

    
   div.lead.container {
    position: relative;
    padding: 0;
    margin: 0;
    z-index: -2;

   }
   div.privacy {
    position: absolute;
    top: 150vh;
   }
   footer#contact1 {
    position: relative;
    top: 40vh;
   }
   div#contact2 {
    position: relative;
    display: none;
   }
   body.index {
    position: absolute;
    margin: 0 1.5vw;
   }
    
    section.row-alt {
        z-index: -2;
    }
    div#back {
        position: relative;
        z-index: -2;
    }
    p.Kenspage {
        font-size: 2.25vh;
        line-height: 2.75vh;
    }
    @media screen and (orientation: portrait) {
    }

    @media screen and (orientation: landscape) {  
    }
}

@media all and (min-width: 481px) and (max-width: 768px) {
    body {
        max-width: 100%;
    }
    .row {
        max-width: 100%;
    }
    .grid {
        display: grid;
        display: -ms-grid;
        grid-template-columns: 1fr;
        -ms-grid-columns: 1fr;
        max-width: 100%;
    }
    .col-1-3 {
        
        min-width: -moz-fit-content; 
        min-width: fit-content;
        min-width: -webkit-fill-available;
        min-width: fit-content;
        max-width: 95vw;
        max-height: -moz-fit-content;
        max-height:fit-content;
        
    }
    .col-2-3 {
        max-width: 95vw;
    }
    section.hero-container {
        position: relative;
    }
    header.primary-header, .container, .group {
        padding-bottom: 0;
        margin-bottom: 0;
        max-width: 100%;
        margin: 0;
    }
   a.logo img.logo {
        position: absolute;
        max-width: 25%;
        z-index: -1;
        top: 0vh;
    }
    iframe#bookings2 {
        display: block !important;
        position: relative;
        margin: auto;
        width: 95%;
        height: 2525px;
        
        z-index:-2;
    }
    img#portfolio4 {
        position: relative;
        top: 0;
        margin-top: -99%;
        left: 0;
        max-width: 75%;
    }
    img#about2.logo a#about3.logo {
        top: 1vh;
    }
    section.teaser, section.col-1-3 {
        margin: 0;
        padding: 0;
    }
   
    a#tagline.tagline, h2.tagline{
        display: none;
        visibility: hidden;

    }
    iframe#JotFormIFrame-240474876852165 {
        position: relative;
        display: block;
        opacity: 0.7;
        top:-2.5%;
        width: 100vw;
        left: -25vw;

    }
    img.thanks {
        position: relative;
        height: 50%;
        margin-left: 6%;
        border: 5px solid #df8642;
        z-index: -2;
    }
    h1.thanks {
        position: relative;
        top: -250%;
        text-align: center;
        color:#82aeb1;
        font-size: 5.75vh;
        font-family: 'Optima Bold', Arial, Helvetica, sans-serif;

    }
    p.thanks {
        position: relative;
        top: -250%;
        color:#eca925;
        font-family: 'Optima', Arial, Helvetica, sans-serif;
        font-style: italic;
        margin: auto 2.5%;
    }
    h3.thanks {
        position: relative;
        top: -480%;
        margin: 0 2.5%;
        
    }
    a.btn-alt {
        position: relative;
        top:-30vh;
    }
    a.payment {
        position: relative;    margin: 0;
        top: -10%;
        line-height: 5vh;
        
    }
    #coupon {
        font-size: 2.5vh;
        line-height: 3.5vh;
    }
    div.row {
        position: relative;
        top: -20vh;
    }
    h3.stats {
        font-size: 5vh;
        line-height: 5.5vh;
    }
    i.statcaption {
        top: -5vh;
    }
    img.sabrespritereg {
        height: 6vh;
        width: 10vw;
    }
    
    img.frontpgimg {
        position: relative;
        min-width: auto;
        max-width: 40%;
        max-height: 10%;
        margin-left: auto;
        margin-right: auto;
        background-color: #82aeb1;
        border: 2px solid #fff;
        margin-top: 
    }

    img#profile.profilepic {
        position: relative;
        min-width: none;
        width: 80%;
        max-width: 100%;
        max-height: 100%;
        margin-left: 10%;
        border: 5px solid #df8642;
        z-index: -2;
        
    }
    .primary-header a:hover {
        display: none;
    }
    h1#index {
        position: absolute;
        margin-top: 8.5vh;
        font-size: 1.75vh;
        text-align: right;
    }
    h1#schedule {
        position: absolute;
        margin-top: 16%;
        margin-right: 4.5%;
    }
    h1#about1.logo {
        position: absolute;
        top: 0;
        margin-top: 17.5%;
        right: 2.5%;
    }
    body.about {
        background-color: #042d4d;
    }
    h1#info.logo {
        position: absolute;
        top: -2.5%;
        right: 0;
    }
    h1#portfolio {
        position: relative;
        margin-top: -25vh;
        display: inline;

    }
    div.logo {
        position: relative;
        background-color: #042d4d;
        top:5vh;
        padding-bottom: 10vh;
        z-index: -2;
        
    }
    div.text {
        font-family: 'Arapey', 'Times New Roman', Times, serif;
        font-style: italic;
    }
    div#portfolio2 {
        position: relative;
        display: inline;
        margin-top: -5vh;
        z-index: -1;
    }
    img#portfolio3 {
        position: relative;
        top: -12.5vh;
    }
    
    
   h1.logo {
        font-size: 2vh;
        position: absolute;
        text-align: right;
        right: 0;
        padding: 0;
        margin-top: 0;
        line-height: 3vh;
        display: inline-block;
        z-index: -1;
        color: #df8642;
    
       
    }
    h1#contact3 {
        position: relative;
        margin-right: 1.5vw;
        z-index: -1;
    }
   
    div.slideshow-container {
        position: relative;
        z-index:-2;
    }

    div.slideshow-container1 {
        position: relative;
        z-index: -1;
    }
    div.dots {
        text-align: center;
        display: none;
    }
    div.text {
        position: relative;
        color: #82aeb1;
    }
    div.text1 {
        position: relative;
        color: #82aeb1;
        font-family: 'Arapey', 'Times New Roman', serif;
        font-style: italic;
    }
    h3.click {
        position: relative;
        font-family: 'Optima Bold', Arial, Helvetica, sans-serif;
        text-align: center;
        color:#df8642;
    }
    .heroimg {
        position: relative;
        max-width: 90%;
        top: -5vh;
    }
    
    .caption1 {
        font-size: 3.3333333333333335vw;
        text-decoration: underline;
   
    }
    .caption2 {
        position: relative;
    }
    p.caption3 {
        color: #82aeb1;
        font-size: 3.3333333333333335vw;
        position: relative;
        font-size: 2vh;
        line-height: 3vh;
        top: -5%;
    }
    
    h3.caption2 {
        text-decoration: underline;
        font-weight: bold;
        font-size: 3.3333333333333335vw;
    }
    h2.hook {
        margin: 5vh auto;
        position: relative;
        top: 9vh;
        z-index: -2;
        color: #82aeb1;
        
    }
    .iframe-container {
        position: relative;
        top:-2.5vh;
        margin: 0;
        z-index: -2;
        
    }
    iframe.frontend {
        max-width: 80%;
        max-height: 70%;
    }
   
    img.venngage {
        position: relative;
        max-width: 100%;
        max-height: 100%;
        top:-10vh;
    }
    h5.caption1 {
        position: relative;
        color:#82aeb1;
        top: vh;
    }
    h3.caption2 {
        position: relative;
        margin-top:;
        color: #df8642;
        text-align: center;
    }
   
    h2.caption4 {
        margin: 5vh auto;
        position: relative;
        margin: 0;
        padding: 0;
        top: -15vh;
    }
    a.btn.btn-alt {
        position: relative;
        margin-top: 5%;
    }
    .btn-alt {
        position: relative;
        border: 0.06944444444444445vw solid #eca925;
        padding: 1.394700139470014vh 5.0833333333333335vw;
        margin: 0 29vw;
    
        
    }
   
    article.description1, article.description {
        position: relative;
        display: inline;
        line-height: 2.5vh;
        font-size: 2vh;
        margin: 0;
        padding: 0;
        margin-left: 3.5vw;
        text-align: center;
        z-index: -2;
        
        
    }
    .primary-footer {
        display: block;
        position: relative;
        font-size: 1.25vh;
        top: -5vh;
    

    }
    p#about {
        top: 1.5vh;
    }
    p.privacy {
        position: relative;
        top:-5vh;
    }
    
    .aboutarticle {
        position: relative;
        top: -5vh;
        font-size: 2.5vh;
        line-height: 4vh;
    }
    h2.About {
        position: relative;
        margin-top: 3%;
        font-size: 3vh;
    }
    #sabresmile, #dogs, img#profile-img {
        position: relative;
        margin: auto;
        max-width: 80%;
        margin-top: 3vh;
    }
    p.quote {
        position: relative;
        line-height: 3vh;
        max-width: 80%;
        margin: auto;
    }
    iframe.bookings {
        display: initial !important;
        position: relative;
        margin: auto;
        width: max-content;
        width: 100%;
        min-width: max-content;
        max-height: 90%;
        height: 2900px;
        margin-top: 35%; 
        left: -2vw;
        
        z-index:-2;
    }
    section.row-alt {
        position: relative;
        min-height:fit-content;
        min-height: -moz-fit-content;
        height: auto;
        max-height:min-content;
        padding: 0;
    }
    h1.lead {
        position: relative;
        margin: 0;
        padding: 0;
        top: -2.5vh;
    }
    p.portfolio {
        position: relative;
        margin-left: 2.5vw;
        top: -2.5vh;
    }
    h2.contact, h2.contactform {
        font-size: 8vw;
        color:#021b2d;
        text-align: center;
        margin-left: 10%;
        font-style: bold;
    }
    iframe.contactform {
        position: relative;
        margin: 0;
        padding: 0;
        max-width: 90%;
        max-height: fit-content;
        max-height: -moz-fit-content;
        
        z-index: -1;
    }
    header#navbar {
        position: relative;
        z-index: 0;
    }
    nav.navbar-container .container {
        position: relative;
        z-index: 0;
    }
    nav.contact {
        position: relative;
        top: -.5vh;
    }
    p.contact {
        font-size: 4.5vw;
        line-height: 5.5vh;
    }
    a.about {
        margin-top: 2vh;
    }
    h2.lead {
        position: relative;
        margin: 0 1vw;
        font-size: 4.5vh;
        text-align: center;
        margin-top: 25vh;
        margin-bottom: 2.5vh;
        color:#82aeb1;
        z-index: -2;
        
    }
    p.portfolio {
        position: relative;
        font-size: 2vh;
        line-height: 3.5vh;
        text-align: left;
        font-family: 'Optima', Arial, Helvetica, sans-serif;
        z-index: -2;
        
    }
    section#Kens.row {
        position: relative;
        margin: 0;
        padding: 0;
        top: -20vh;
        z-index: -2;
    }
    h2#Kensname.Kenspage {
        position: relative;
        font-size: 3vh;
        line-height: 4vh;
        margin: 0;
        padding: 0;
        margin-top: 25vh;
    }
    h5.Kenspage {
        position: relative;
        font-size: 3vh;
        margin: auto 2.5vw;
        text-align: left;
    }
    p.Kenspage {
        font-size: 2.5vh;
    }
    h2.label {
        position: relative;
        font-size: 3vh;
        line-height: 4vh;
        margin: 0;
        padding: 0;
    }

    
   div.lead.container {
    position: relative;
    padding: 0;
    margin: 0;
    z-index: -2;

   }
   div.privacy {
    position: absolute;
    top: 150vh;
   }
   footer#contact1 {
    position: relative;
    top: 40vh;
   }
   div#contact2 {
    position: relative;
    display: none;
   }
   body.index {
    position: absolute;
    margin: 0 1.5vw;
   }
    
    section.row-alt {
        z-index: -2;
    }
    div#back {
        position: relative;
        z-index: -2;
    }
    p.Kenspage {
        font-size: 2.25vh;
        line-height: 2.75vh;
    }
    @media screen and (orientation: portrait) {
    }

    @media screen and (orientation: landscape) {  
    }
}


@media all and (min-width: 769px) and (max-width: 1024px) {
    body {
        max-width: 100%;
    }
    .row {
        max-width: 100%;
    }
    .grid {
        display: grid;
        display: -ms-grid;
        grid-template-columns: 1fr;
        -ms-grid-columns: 1fr;
        max-width: 100%;
    }
    .col-1-3 {
        
        min-width: -moz-fit-content; 
        min-width: fit-content;
        min-width: -webkit-fill-available;
        min-width: fit-content;
        max-width: 95vw;
        max-height: -moz-fit-content;
        max-height:fit-content;
        
    }
    .col-2-3 {
        max-width: 95vw;
    }
    section.hero-container {
        position: relative;
    }
    header.primary-header, .container, .group {
        padding-bottom: 0;
        margin-bottom: 0;
        max-width: 100%;
        margin: 0;
    }
   a.logo img.logo {
        position: absolute;
        max-width: 25%;
        z-index: -1;
        top: 0vh;
    }
    iframe#bookings2 {
        display: block !important;
        position: relative;
        margin: auto;
        width: 95%;
        height: 2525px;
        
        z-index:-2;
    }
    img#portfolio4 {
        position: relative;
        top: 0;
        margin-top: -99%;
        left: 0;
        max-width: 75%;
    }
    img#about2.logo a#about3.logo {
        top: 1vh;
    }
    section.teaser, section.col-1-3 {
        margin: 0;
        padding: 0;
    }
   
    a#tagline.tagline, h2.tagline{
        display: none;
        visibility: hidden;

    }
    iframe#JotFormIFrame-240474876852165 {
        position: relative;
        display: block;
        opacity: 0.7;
        top:-2.5%;
        width: 100vw;
        left: -25vw;

    }
    img.thanks {
        position: relative;
        height: 50%;
        margin-left: 6%;
        border: 5px solid #df8642;
        z-index: -2;
    }
    h1.thanks {
        position: relative;
        top: -250%;
        text-align: center;
        color:#82aeb1;
        font-size: 5.75vh;
        font-family: 'Optima Bold', Arial, Helvetica, sans-serif;

    }
    p.thanks {
        position: relative;
        top: -250%;
        color:#eca925;
        font-family: 'Optima', Arial, Helvetica, sans-serif;
        font-style: italic;
        margin: auto 2.5%;
    }
    h3.thanks {
        position: relative;
        top: -480%;
        margin: 0 2.5%;
        
    }
    a.btn-alt {
        position: relative;
        top:-30vh;
    }
    a.payment {
        position: relative;    margin: 0;
        top: -10%;
        line-height: 5vh;
        
    }
    #coupon {
        font-size: 2.5vh;
        line-height: 3.5vh;
    }
    div.row {
        position: relative;
        top: -20vh;
    }
    h3.stats {
        font-size: 5vh;
        line-height: 5.5vh;
    }
    i.statcaption {
        top: -5vh;
    }
    img.sabrespritereg {
        height: 6vh;
        width: 10vw;
    }
    
    img.frontpgimg {
        position: relative;
        min-width: auto;
        max-width: 40%;
        max-height: 10%;
        margin-left: auto;
        margin-right: auto;
        background-color: #82aeb1;
        border: 2px solid #fff;
        margin-top: 
    }

    img#profile.profilepic {
        position: relative;
        min-width: none;
        width: 80%;
        max-width: 100%;
        max-height: 100%;
        margin-left: 10%;
        border: 5px solid #df8642;
        z-index: -2;
        
    }
    .primary-header a:hover {
        display: none;
    }
    h1#index {
        position: absolute;
        margin-top: 8.5vh;
        font-size: 1.75vh;
        text-align: right;
    }
    h1#schedule {
        position: absolute;
        margin-top: 16%;
        margin-right: 4.5%;
    }
    h1#about1.logo {
        position: absolute;
        top: 0;
        margin-top: 17.5%;
        right: 2.5%;
    }
    body.about {
        background-color: #042d4d;
    }
    h1#info.logo {
        position: absolute;
        top: -2.5%;
        right: 0;
    }
    h1#portfolio {
        position: relative;
        margin-top: -25vh;
        display: inline;

    }
    div.logo {
        position: relative;
        background-color: #042d4d;
        top:5vh;
        padding-bottom: 10vh;
        z-index: -2;
        
    }
    div.text {
        font-family: 'Arapey', 'Times New Roman', Times, serif;
        font-style: italic;
    }
    div#portfolio2 {
        position: relative;
        display: inline;
        margin-top: -5vh;
        z-index: -1;
    }
    img#portfolio3 {
        position: relative;
        top: -12.5vh;
    }
    
    
   h1.logo {
        font-size: 2vh;
        position: absolute;
        text-align: right;
        right: 0;
        padding: 0;
        margin-top: 0;
        line-height: 3vh;
        display: inline-block;
        z-index: -1;
        color: #df8642;
    
       
    }
    h1#contact3 {
        position: relative;
        margin-right: 1.5vw;
        z-index: -1;
    }
   
    div.slideshow-container {
        position: relative;
        z-index:-2;
    }

    div.slideshow-container1 {
        position: relative;
        z-index: -1;
    }
    div.dots {
        text-align: center;
        display: none;
    }
    div.text {
        position: relative;
        color: #82aeb1;
    }
    div.text1 {
        position: relative;
        color: #82aeb1;
        font-family: 'Arapey', 'Times New Roman', serif;
        font-style: italic;
    }
    h3.click {
        position: relative;
        font-family: 'Optima Bold', Arial, Helvetica, sans-serif;
        text-align: center;
        color:#df8642;
    }
    .heroimg {
        position: relative;
        max-width: 90%;
        top: -5vh;
    }
    
    .caption1 {
        font-size: 3.3333333333333335vw;
        text-decoration: underline;
   
    }
    .caption2 {
        position: relative;
    }
    p.caption3 {
        color: #82aeb1;
        font-size: 3.3333333333333335vw;
        position: relative;
        font-size: 2vh;
        line-height: 3vh;
        top: -5%;
    }
    
    h3.caption2 {
        text-decoration: underline;
        font-weight: bold;
        font-size: 3.3333333333333335vw;
    }
    h2.hook {
        margin: 5vh auto;
        position: relative;
        top: 9vh;
        z-index: -2;
        color: #82aeb1;
        
    }
    .iframe-container {
        position: relative;
        top:-2.5vh;
        margin: 0;
        z-index: -2;
        
    }
    iframe.frontend {
        max-width: 80%;
        max-height: 70%;
    }
   
    img.venngage {
        position: relative;
        max-width: 100%;
        max-height: 100%;
        top:-10vh;
    }
    h5.caption1 {
        position: relative;
        color:#82aeb1;
        top: vh;
    }
    h3.caption2 {
        position: relative;
        margin-top:;
        color: #df8642;
        text-align: center;
    }
   
    h2.caption4 {
        margin: 5vh auto;
        position: relative;
        margin: 0;
        padding: 0;
        top: -15vh;
    }
    a.btn.btn-alt {
        position: relative;
        margin-top: 5%;
    }
    .btn-alt {
        position: relative;
        border: 0.06944444444444445vw solid #eca925;
        padding: 1.394700139470014vh 5.0833333333333335vw;
        margin: 0 29vw;
    
        
    }
   
    article.description1, article.description {
        position: relative;
        display: inline;
        line-height: 2.5vh;
        font-size: 2vh;
        margin: 0;
        padding: 0;
        margin-left: 3.5vw;
        text-align: center;
        z-index: -2;
        
        
    }
    .primary-footer {
        display: block;
        position: relative;
        font-size: 1.25vh;
        top: -5vh;
    

    }
    p#about {
        top: 1.5vh;
    }
    p.privacy {
        position: relative;
        top:-5vh;
    }
    
    .aboutarticle {
        position: relative;
        top: -5vh;
        font-size: 2.5vh;
        line-height: 4vh;
    }
    h2.About {
        position: relative;
        margin-top: 3%;
        font-size: 3vh;
    }
    #sabresmile, #dogs, img#profile-img {
        position: relative;
        margin: auto;
        max-width: 80%;
        margin-top: 3vh;
    }
    p.quote {
        position: relative;
        line-height: 3vh;
        max-width: 80%;
        margin: auto;
    }
    iframe.bookings {
        display: initial !important;
        position: relative;
        margin: auto;
        width: max-content;
        width: 100%;
        min-width: max-content;
        max-height: 90%;
        height: 2900px;
        margin-top: 35%; 
        left: -2vw;
        
        z-index:-2;
    }
    section.row-alt {
        position: relative;
        min-height:fit-content;
        min-height: -moz-fit-content;
        height: auto;
        max-height:min-content;
        padding: 0;
    }
    h1.lead {
        position: relative;
        margin: 0;
        padding: 0;
        top: -2.5vh;
    }
    p.portfolio {
        position: relative;
        margin-left: 2.5vw;
        top: -2.5vh;
    }
    h2.contact, h2.contactform {
        font-size: 8vw;
        color:#021b2d;
        text-align: center;
        margin-left: 10%;
        font-style: bold;
    }
    iframe.contactform {
        position: relative;
        margin: 0;
        padding: 0;
        max-width: 90%;
        max-height: fit-content;
        max-height: -moz-fit-content;
        
        z-index: -1;
    }
    header#navbar {
        position: relative;
        z-index: 0;
    }
    nav.navbar-container .container {
        position: relative;
        z-index: 0;
    }
    nav.contact {
        position: relative;
        top: -.5vh;
    }
    p.contact {
        font-size: 4.5vw;
        line-height: 5.5vh;
    }
    a.about {
        margin-top: 2vh;
    }
    h2.lead {
        position: relative;
        margin: 0 1vw;
        font-size: 4.5vh;
        text-align: center;
        margin-top: 25vh;
        margin-bottom: 2.5vh;
        color:#82aeb1;
        z-index: -2;
        
    }
    p.portfolio {
        position: relative;
        font-size: 2vh;
        line-height: 3.5vh;
        text-align: left;
        font-family: 'Optima', Arial, Helvetica, sans-serif;
        z-index: -2;
        
    }
    section#Kens.row {
        position: relative;
        margin: 0;
        padding: 0;
        top: -20vh;
        z-index: -2;
    }
    h2#Kensname.Kenspage {
        position: relative;
        font-size: 3vh;
        line-height: 4vh;
        margin: 0;
        padding: 0;
        margin-top: 25vh;
    }
    h5.Kenspage {
        position: relative;
        font-size: 3vh;
        margin: auto 2.5vw;
        text-align: left;
    }
    p.Kenspage {
        font-size: 2.5vh;
    }
    h2.label {
        position: relative;
        font-size: 3vh;
        line-height: 4vh;
        margin: 0;
        padding: 0;
    }

    
   div.lead.container {
    position: relative;
    padding: 0;
    margin: 0;
    z-index: -2;

   }
   div.privacy {
    position: absolute;
    top: 150vh;
   }
   footer#contact1 {
    position: relative;
    top: 40vh;
   }
   div#contact2 {
    position: relative;
    display: none;
   }
   body.index {
    position: absolute;
    margin: 0 1.5vw;
   }
    
    section.row-alt {
        z-index: -2;
    }
    div#back {
        position: relative;
        z-index: -2;
    }
    p.Kenspage {
        font-size: 2.25vh;
        line-height: 2.75vh;
    }
    @media screen and (orientation: portrait) {
    }

    @media screen and (orientation: landscape) {  
    }
}

@media all and (min-width: 1025px) and (max-width: 1200px) {
    body {
        max-width: 100%;
    }
    .row {
        max-width: 100%;
    }
    .grid {
        display: grid;
        display: -ms-grid;
        grid-template-columns: 1fr;
        -ms-grid-columns: 1fr;
        max-width: 100%;
    }
    .col-1-3 {
        
        min-width: -moz-fit-content; 
        min-width: fit-content;
        min-width: -webkit-fill-available;
        min-width: fit-content;
        max-width: 95vw;
        max-height: -moz-fit-content;
        max-height:fit-content;
        
    }
    .col-2-3 {
        max-width: 95vw;
    }
    section.hero-container {
        position: relative;
    }
    header.primary-header, .container, .group {
        padding-bottom: 0;
        margin-bottom: 0;
        max-width: 100%;
        margin: 0;
    }
   a.logo img.logo {
        position: absolute;
        max-width: 25%;
        z-index: -1;
        top: 0vh;
    }
    iframe#bookings2 {
        display: block !important;
        position: relative;
        margin: auto;
        width: 95%;
        height: 2525px;
        
        z-index:-2;
    }
    img#portfolio4 {
        position: relative;
        top: 0;
        margin-top: -99%;
        left: 0;
        max-width: 75%;
    }
    img#about2.logo a#about3.logo {
        top: 1vh;
    }
    section.teaser, section.col-1-3 {
        margin: 0;
        padding: 0;
    }
   
    a#tagline.tagline, h2.tagline{
        display: none;
        visibility: hidden;

    }
    iframe#JotFormIFrame-240474876852165 {
        position: relative;
        display: block;
        opacity: 0.7;
        top:-2.5%;
        width: 100vw;
        left: -25vw;

    }
    img.thanks {
        position: relative;
        height: 50%;
        margin-left: 6%;
        border: 5px solid #df8642;
        z-index: -2;
    }
    h1.thanks {
        position: relative;
        top: -250%;
        text-align: center;
        color:#82aeb1;
        font-size: 5.75vh;
        font-family: 'Optima Bold', Arial, Helvetica, sans-serif;

    }
    p.thanks {
        position: relative;
        top: -250%;
        color:#eca925;
        font-family: 'Optima', Arial, Helvetica, sans-serif;
        font-style: italic;
        margin: auto 2.5%;
    }
    h3.thanks {
        position: relative;
        top: -480%;
        margin: 0 2.5%;
        
    }
    a.btn-alt {
        position: relative;
        top:-30vh;
    }
    a.payment {
        position: relative;    margin: 0;
        top: -10%;
        line-height: 5vh;
        
    }
    #coupon {
        font-size: 2.5vh;
        line-height: 3.5vh;
    }
    div.row {
        position: relative;
        top: -20vh;
    }
    h3.stats {
        font-size: 5vh;
        line-height: 5.5vh;
    }
    i.statcaption {
        top: -5vh;
    }
    img.sabrespritereg {
        height: 6vh;
        width: 10vw;
    }
    
    img.frontpgimg {
        position: relative;
        min-width: auto;
        max-width: 40%;
        max-height: 10%;
        margin-left: auto;
        margin-right: auto;
        background-color: #82aeb1;
        border: 2px solid #fff;
        margin-top: 
    }

    img#profile.profilepic {
        position: relative;
        min-width: none;
        width: 80%;
        max-width: 100%;
        max-height: 100%;
        margin-left: 10%;
        border: 5px solid #df8642;
        z-index: -2;
        
    }
    .primary-header a:hover {
        display: none;
    }
    h1#index {
        position: absolute;
        margin-top: 8.5vh;
        font-size: 1.75vh;
        text-align: right;
    }
    h1#schedule {
        position: absolute;
        margin-top: 16%;
        margin-right: 4.5%;
    }
    h1#about1.logo {
        position: absolute;
        top: 0;
        margin-top: 17.5%;
        right: 2.5%;
    }
    body.about {
        background-color: #042d4d;
    }
    h1#info.logo {
        position: absolute;
        top: -2.5%;
        right: 0;
    }
    h1#portfolio {
        position: relative;
        margin-top: -25vh;
        display: inline;

    }
    div.logo {
        position: relative;
        background-color: #042d4d;
        top:5vh;
        padding-bottom: 10vh;
        z-index: -2;
        
    }
    div.text {
        font-family: 'Arapey', 'Times New Roman', Times, serif;
        font-style: italic;
    }
    div#portfolio2 {
        position: relative;
        display: inline;
        margin-top: -5vh;
        z-index: -1;
    }
    img#portfolio3 {
        position: relative;
        top: -12.5vh;
    }
    
    
   h1.logo {
        font-size: 2vh;
        position: absolute;
        text-align: right;
        right: 0;
        padding: 0;
        margin-top: 0;
        line-height: 3vh;
        display: inline-block;
        z-index: -1;
        color: #df8642;
    
       
    }
    h1#contact3 {
        position: relative;
        margin-right: 1.5vw;
        z-index: -1;
    }
   
    div.slideshow-container {
        position: relative;
        z-index:-2;
    }

    div.slideshow-container1 {
        position: relative;
        z-index: -1;
    }
    div.dots {
        text-align: center;
        display: none;
    }
    div.text {
        position: relative;
        color: #82aeb1;
    }
    div.text1 {
        position: relative;
        color: #82aeb1;
        font-family: 'Arapey', 'Times New Roman', serif;
        font-style: italic;
    }
    h3.click {
        position: relative;
        font-family: 'Optima Bold', Arial, Helvetica, sans-serif;
        text-align: center;
        color:#df8642;
    }
    .heroimg {
        position: relative;
        max-width: 90%;
        top: -5vh;
    }
    
    .caption1 {
        font-size: 3.3333333333333335vw;
        text-decoration: underline;
   
    }
    .caption2 {
        position: relative;
    }
    p.caption3 {
        color: #82aeb1;
        font-size: 3.3333333333333335vw;
        position: relative;
        font-size: 2vh;
        line-height: 3vh;
        top: -5%;
    }
    
    h3.caption2 {
        text-decoration: underline;
        font-weight: bold;
        font-size: 3.3333333333333335vw;
    }
    h2.hook {
        margin: 5vh auto;
        position: relative;
        top: 9vh;
        z-index: -2;
        color: #82aeb1;
        
    }
    .iframe-container {
        position: relative;
        top:-2.5vh;
        margin: 0;
        z-index: -2;
        
    }
    iframe.frontend {
        max-width: 80%;
        max-height: 70%;
    }
   
    img.venngage {
        position: relative;
        max-width: 100%;
        max-height: 100%;
        top:-10vh;
    }
    h5.caption1 {
        position: relative;
        color:#82aeb1;
        top: vh;
    }
    h3.caption2 {
        position: relative;
        margin-top:;
        color: #df8642;
        text-align: center;
    }
   
    h2.caption4 {
        margin: 5vh auto;
        position: relative;
        margin: 0;
        padding: 0;
        top: -15vh;
    }
    a.btn.btn-alt {
        position: relative;
        margin-top: 5%;
    }
    .btn-alt {
        position: relative;
        border: 0.06944444444444445vw solid #eca925;
        padding: 1.394700139470014vh 5.0833333333333335vw;
        margin: 0 29vw;
    
        
    }
   
    article.description1, article.description {
        position: relative;
        display: inline;
        line-height: 2.5vh;
        font-size: 2vh;
        margin: 0;
        padding: 0;
        margin-left: 3.5vw;
        text-align: center;
        z-index: -2;
        
        
    }
    .primary-footer {
        display: block;
        position: relative;
        font-size: 1.25vh;
        top: -5vh;
    

    }
    p#about {
        top: 1.5vh;
    }
    p.privacy {
        position: relative;
        top:-5vh;
    }
    
    .aboutarticle {
        position: relative;
        top: -5vh;
        font-size: 2.5vh;
        line-height: 4vh;
    }
    h2.About {
        position: relative;
        margin-top: 3%;
        font-size: 3vh;
    }
    #sabresmile, #dogs, img#profile-img {
        position: relative;
        margin: auto;
        max-width: 80%;
        margin-top: 3vh;
    }
    p.quote {
        position: relative;
        line-height: 3vh;
        max-width: 80%;
        margin: auto;
    }
    iframe.bookings {
        display: initial !important;
        position: relative;
        margin: auto;
        width: max-content;
        width: 100%;
        min-width: max-content;
        max-height: 90%;
        height: 2900px;
        margin-top: 35%; 
        left: -2vw;
        
        z-index:-2;
    }
    section.row-alt {
        position: relative;
        min-height:fit-content;
        min-height: -moz-fit-content;
        height: auto;
        max-height:min-content;
        padding: 0;
    }
    h1.lead {
        position: relative;
        margin: 0;
        padding: 0;
        top: -2.5vh;
    }
    p.portfolio {
        position: relative;
        margin-left: 2.5vw;
        top: -2.5vh;
    }
    h2.contact, h2.contactform {
        font-size: 8vw;
        color:#021b2d;
        text-align: center;
        margin-left: 10%;
        font-style: bold;
    }
    iframe.contactform {
        position: relative;
        margin: 0;
        padding: 0;
        max-width: 90%;
        max-height: fit-content;
        max-height: -moz-fit-content;
        
        z-index: -1;
    }
    header#navbar {
        position: relative;
        z-index: 0;
    }
    nav.navbar-container .container {
        position: relative;
        z-index: 0;
    }
    nav.contact {
        position: relative;
        top: -.5vh;
    }
    p.contact {
        font-size: 4.5vw;
        line-height: 5.5vh;
    }
    a.about {
        margin-top: 2vh;
    }
    h2.lead {
        position: relative;
        margin: 0 1vw;
        font-size: 4.5vh;
        text-align: center;
        margin-top: 25vh;
        margin-bottom: 2.5vh;
        color:#82aeb1;
        z-index: -2;
        
    }
    p.portfolio {
        position: relative;
        font-size: 2vh;
        line-height: 3.5vh;
        text-align: left;
        font-family: 'Optima', Arial, Helvetica, sans-serif;
        z-index: -2;
        
    }
    section#Kens.row {
        position: relative;
        margin: 0;
        padding: 0;
        top: -20vh;
        z-index: -2;
    }
    h2#Kensname.Kenspage {
        position: relative;
        font-size: 3vh;
        line-height: 4vh;
        margin: 0;
        padding: 0;
        margin-top: 25vh;
    }
    h5.Kenspage {
        position: relative;
        font-size: 3vh;
        margin: auto 2.5vw;
        text-align: left;
    }
    p.Kenspage {
        font-size: 2.5vh;
    }
    h2.label {
        position: relative;
        font-size: 3vh;
        line-height: 4vh;
        margin: 0;
        padding: 0;
    }

    
   div.lead.container {
    position: relative;
    padding: 0;
    margin: 0;
    z-index: -2;

   }
   div.privacy {
    position: absolute;
    top: 150vh;
   }
   footer#contact1 {
    position: relative;
    top: 40vh;
   }
   div#contact2 {
    position: relative;
    display: none;
   }
   body.index {
    position: absolute;
    margin: 0 1.5vw;
   }
    
    section.row-alt {
        z-index: -2;
    }
    div#back {
        position: relative;
        z-index: -2;
    }
    p.Kenspage {
        font-size: 2.25vh;
        line-height: 2.75vh;
    }

    @media screen and (orientation: portrait) {
    }

    @media screen and (orientation: landscape) {  
    }
}